:root { 
--light_green_A700:#2ae400; 
--deep_purple_A100_01:#ac93f1; 
--red_400:#f26250; 
--green_A100:#bdf3c0; 
--black_900_87:#00000087; 
--yellow_800:#ebb12b; 
--blue_gray_900_02:#1d2639; 
--blue_gray_900_01:#251946; 
--blue_gray_900:#181e39; 
--purple_300:#bc80be; 
--blue_900:#17548c; 
--blue_gray_100:#d1e0f1; 
--amber_500:#fbbc05; 
--lime_700:#d0a128; 
--gray_800:#39393b; 
--cyan_200:#85d5ef; 
--deep_purple_50:#e4d8f1; 
--black_900_19_01:#00000019; 
--blue_100:#ccebfb; 
--gray_700_02:#585859; 
--gray_700_03:#564c54; 
--gray_700_01:#575454; 
--indigo_50_4c:#ebf0f94c; 
--cyan_100_ba:#abe2f3ba; 
--red_300:#ee7373; 
--amber_A200:#ffca41; 
--green_600:#34a853; 
--teal_400:#21b573; 
--gray_500_01:#a9a9a9; 
--yellow_900:#e27623; 
--gray_500_03:#959597; 
--gray_500_02:#9e9d9d; 
--indigo_50_63:#ebf0f963; 
--gray_500_05:#969aa0; 
--gray_500_04:#9e9e9e; 
--yellow_100:#fff0c9; 
--indigo_400_01:#5c66d5; 
--amber_400:#ffce22; 
--blue_800:#1371a5; 
--black_900_6c:#0b07066c; 
--gray_900:#101828; 
--gray_100:#f0f0fa; 
--black_900_75:#00000075; 
--cyan_900:#156669; 
--gray_600_3f:#857d7d3f; 
--deep_orange_A100:#ea9b7a; 
--red_600:#f62d2d; 
--light_blue_A100:#68e1fd; 
--blue_A200:#4285f4; 
--light_blue_500:#17abea; 
--amber_A200_87:#ffca4187; 
--teal_700:#217c58; 
--gray_200_01:#ececec; 
--blue_gray_700:#475267; 
--red_A700:#da0909; 
--gray_600:#6f6e6e; 
--yellow_100_01:#fff0ce; 
--yellow_100_02:#fbecc6; 
--orange_400:#ff9a22; 
--gray_400_01:#b7b7c1; 
--gray_400_02:#c4c4c4; 
--green_900_01:#196132; 
--blue_300:#69acfb; 
--blue_gray_700_02:#525560; 
--blue_gray_700_01:#423673; 
--green_900_02:#1b6333; 
--red_500:#ea4335; 
--red_400_02:#d46a43; 
--red_400_01:#e85858; 
--red_400_04:#e75252; 
--red_400_03:#df615c; 
--yellow_300:#f1e66a; 
--black_900:#000000; 
--light_green_700:#7a9f36; 
--blue_gray_800:#344054; 
--pink_600:#cd3c61; 
--white_A700_a0:#ffffffa0; 
--gray_900_02:#1d212f; 
--gray_700:#6c6a6a; 
--gray_900_03:#371010; 
--gray_900_04:#222222; 
--gray_900_05:#282424; 
--indigo_50:#e4e7ec; 
--gray_900_01:#1d2130; 
--orange_300:#f5b546; 
--gray_300_02:#dbe0e8; 
--gray_300_01:#dbe1e9; 
--orange_50:#fff0d7; 
--white_A700_01:#fffdfd; 
--white_A700_02:#fdfeff; 
--indigo_900:#1b3764; 
--indigo_200_b7:#9298d6b7; 
--gray_50_01:#f9f9fb; 
--gray_50_02:#fbf7f7; 
--gray_50_03:#eefefe; 
--black_900_b2:#000000b2; 
--gray_50_04:#f8f8f8; 
--gray_50_05:#f5f8fc; 
--gray_50_06:#f9fbff; 
--gray_50_07:#f8fbff; 
--red_800:#9a433a; 
--blue_300_01:#6eaddb; 
--gray_800_02:#40404a; 
--gray_800_01:#584c4c; 
--yellow_400:#f2ff63; 
--black_900_01:#0b0706; 
--indigo_50_05:#e2e1f3; 
--yellow_A400:#fff400; 
--indigo_50_03:#eae9f9; 
--indigo_50_04:#e1dff7; 
--indigo_50_01:#ececf6; 
--teal_900:#123c5b; 
--indigo_50_02:#e9e9f5; 
--gray_50_08:#fff7f7; 
--light_blue_A700:#0875f7; 
--gray_50_09:#fff8f8; 
--deep_orange_500:#f4652f; 
--pink_100:#f8b6e6; 
--gray_400:#b7b7b7; 
--black_900_0a:#0000000a; 
--blue_gray_500:#667185; 
--amber_100:#ffe8bc; 
--black_900_0c:#0000000c; 
--orange_200:#ffc786; 
--gray_50_10:#faf9fe; 
--indigo_200:#96b5c5; 
--orange_300_03:#fcbd4c; 
--indigo_900_01:#1f3582; 
--indigo_900_02:#002074; 
--black_900_19:#040b1419; 
--black_900_14:#040b1414; 
--blue_gray_50:#eff1f4; 
--blue_gray_100_01:#d0d4dd; 
--blue_gray_100_02:#d6d6d6; 
--blue_gray_100_03:#ced3e6; 
--blue_gray_100_04:#d9d9d9; 
--gray_50:#fffafa; 
--yellow_500:#fff737; 
--pink_800:#a92f4b; 
--deep_purple_A100:#ac94f1; 
--black_900_a2:#000000a2; 
--gray_500:#a1a1a1; 
--indigo_200_ed:#96b5c5ed; 
--teal_50:#daf2e9; 
--amber_300_01:#f8cf64; 
--amber_300_03:#fcd960; 
--amber_300_02:#f2c94c; 
--yellow_900_02:#c77e2e; 
--yellow_900_01:#e27825; 
--blue_gray_900_3f:#3a33333f; 
--white_A700_90:#ffffff90; 
--red_200:#f38693; 
--deep_purple_400:#745dd0; 
--green_900:#037f2d; 
--indigo_A100:#989cf1; 
--black_900_3f:#0000003f; 
--blue_800_01:#084fc7; 
--indigo_900_ed:#1b3764ed; 
--gray_900_4f:#1211114f; 
--gray_300_8e:#dedede8e; 
--deep_purple_50_01:#edebf6; 
--blue_700:#1967d2; 
--blue_gray_300:#98a1b2; 
--lime_900:#5d6500; 
--orange_800:#ca6b00; 
--yellow_50:#fff7f0; 
--light_blue_500_33:#17abea33; 
--amber_300:#f9cf64; 
--gray_200:#f1efef; 
--blue_50:#d5e3ff; 
--indigo_400:#4c67ae; 
--cyan_800:#27748c; 
--blue_gray_400_02:#8d8d8d; 
--blue_gray_400_01:#7d869e; 
--white_A700:#ffffff; 
--amber_500_01:#ffbe0f; 
--green_800:#188038; 
--orange_300_02:#ffb469; 
--orange_300_01:#fdba45; 
--teal_200:#60c5c5; 
--black_900_1e:#0000001e; 
--yellow_500_01:#e7eb23; 
--pink_200:#f38ebf; 
--blue_gray_50_01:#ecebf1; 
--gray_600_01:#7b7b7b; 
--blue_gray_400:#808ba7; 
--blue_gray_900_04:#170b47; 
--blue_gray_900_03:#243434; 
--light_blue_50:#cdecfc; 
--amber_200:#f3db86; 
--red_600_dd:#fb2828dd; 
--gray_300:#e5e5e5; 
--blue_gray_300_01:#9c9bbb; 
--black_900_33:#00000033; 
--blue_gray_100_4c:#d9d9d94c; 
--blue_100_01:#b6d9f1; 
--blue_100_02:#b7d5f0; 
--indigo_500:#334ac5; 
}